<template>
  <div class="container">
    <aside class="asaid">
      <img class="asaid__img" src="@/assets/img/pic.png" />
      <h2 class="asaid__h2">James Benjamin</h2>
      <div class="asaid__profile" @click="openProfile">Profile information</div>
      <br />
      <div class="asaid__password" @click="openPassword">Change Password</div>
    </aside>
    <div class="profile" v-if="profile">
      <h1 class="profile__h1">Your profile</h1>

      <div class="profile__info">
        <form>
          <h2>Update your profile information</h2>

          <label for="fname">First Name</label>
          <input
          class="profile__input"
            type="text"
            id="fname"
            name="firstname"
            placeholder="James"
            required
          />
          <br />

          <label for="lname">Last Name</label>
          <input
           class="profile__input"
            type="text"
            id="lname"
            name="lastname"
            placeholder="Benjamin"
            required
          />
          <br />
          <label for="lname">Email</label>
          <input
            class="profile__input"
            type="text"
            id="email"
            name="email"
            placeholder="james@info.dk"
            required
          />
          <br />
          <input class="profile__save" type="submit" value="Save" />
        </form>
      </div>
    </div>

    <div class="password" v-if="password">
      <h1 class="password__h1">Your password</h1>

      <div class="password__info" @click="showPassword($event)">
        <form>
          <h2>Change your password</h2>

          <label for="fname">Current password</label>
          <input class="password__input" :type="oldPass" name="olde password"  required />
          <i  class="password__ico fas" v-bind:class="changeOld" id="oldpass"></i>

          <label for="lname">New password</label>
          <input class=" password__input" :type="newPass" name="new password" required />
          <i class="password__ico fas" v-bind:class="changeNew" id="newpass"></i>

          <label for="password">Confirm password</label>
          <input class="password__input" :type="confirmPass" name="confirm password" required />
          <i class="password__ico fas" v-bind:class="changeConfirm" id="confirmpass"> </i>

          <input class="password__save" type="submit" value="Save" />
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      profile: true,
      password: false,
      oldPass: "password",
      newPass: "password",
      confirmPass: "password",
      hideOld: true,
      hideNew: true,
      hideConfirm: true,
      show: false,
    };
  },
  computed: {
    changeOld: function () {
      return {
       'fa-eye': this.hideOld,
       'fa-eye-slash': !this.hideOld
      };
    },
    changeNew: function () {
      return {
       'fa-eye': this.hideNew,
       'fa-eye-slash': !this.hideNew
      };
    },
    changeConfirm: function () {
      return {
       'fa-eye': this.hideConfirm,
       'fa-eye-slash': !this.hideConfirm
      };
    },
  },
  methods: {
    openProfile() {
      this.profile = true;
      this.password = false;
    },

    openPassword() {
      this.password = true;
      this.profile = false;
    },
    showPassword(event) {
      let p = event.target.id;
      switch (p) {
        
        case "oldpass":
          console.log(p + ' clicked')
          if (this.oldPass == 'text') {
            this.oldPass = 'password';
            this.hideOld = true;
          } else {
            this.oldPass = 'text';
            this.hideOld = false;
          }
          break;
        
          case "newpass":
            console.log(p + ' clicked')
             if (this.newPass == 'text') {
            this.newPass = 'password';
            this.hideNew = true;

            
          } else {
            this.newPass = 'text';
            this.hideNew = false;
 
            }
            break;
            
            case "confirmpass":
            console.log(p + ' clicked')
             if (this.confirmPass == 'text') {
            this.confirmPass = 'password';
            this.hideConfirm = true;

            
          } else {
            this.confirmPass = 'text';
            this.hideConfirm = false;

            
            }
             break;

          }

      
  
  },}
  
}
</script>

<style lang="scss" scoped>
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 100vh;
}
.profile {
  &__h1 {
    text-align: center;
    margin: 2em 16em 1em 0;
    font-size: 1.4em;
    color: black;
    font-weight: bold;
  }
  &__info {
    width: 40em;
    float: right;
    border: 1px solid black;
    padding: 2em;
    margin: 0 10em 0 0;
  }
  &__input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

  }
   &__save{
     background-color: lightgray;
  color: white;
  padding: 15px 33px;
  margin-left: 40.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
}
.password {
  &__h1 {
    text-align: center;
    margin: 2em 15em 1em 0;
    font-size: 1.4em;
    color: black;
    font-weight: bold;
  }
  &__info {
    width: 40em;
    float: right;
    border: 1px solid black;
    padding: 2em;
    margin: 0 10em 0 0;
  }
  &__btn {
    margin: 0 0 0 55em;
    font-size: 0.7em;
    cursor: pointer;
  }
   &__input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

  }
  &__ico{
    display: flex;
    margin: -2.7em 0 2em 38em;
    cursor: pointer;
  }
  &__save{
     background-color: lightgray;
  color: white;
  padding: 15px 33px;
  margin-left: 40.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
}



input[type="submit"]:hover {
  background-color: #1a7cc3;
}

.asaid {
  padding: 0;
  position: absolute;
  margin: 6em 0 0 8em;
  &__img {
        height: 10em;
    width: 10em;
    margin-left: 2em;
    border: 1px solid gray;
    border-radius: 56%
  }
  &__h2 {
    padding: 1em 0 1em 0;
    color: black;
    font-weight: bold;
  }
  &__profile {
    border: 2px solid;
    padding: 0.5em;
    width: 10em;
    cursor: pointer;
    text-align: center;
  }
  &__password {
    border: 2px solid;
    margin-bottom: 2em;
    padding: 0.5em;
    text-align: center;

    width: 10em;
    cursor: pointer;
  }
}
</style>